.custom-grid-container {
    display: grid;
    position: relative;
   margin: 0 auto;
   padding: 0 200px;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(6, 90px);
    gap: 10px; 
  }
  
  .custom-grid-item {
    background-color: #000000; /* Example background color */
    color: #fff; /* Example text color */
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
  }
  