.Header {
    padding: 30px 100px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1500;
    display: flex;
    justify-content: space-between;

}

.nav-elements {
    font-family: "Sharp Grotesk Book 25 Regular";
    text-decoration: none;
    font-weight: 500;
    font-size: small;
    color: #fff;

}