* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}

body {
  min-height: 100vh;
  background-color: black;
  
}

.hero-content{
  font-family: "Sharp Grotesk Book 25 Regular";
  max-width: 40%;
  text-align: center;
  color: azure;

}
.characters {
  display: flex;
  height: 100vh;
  pointer-events: auto;
  z-index: 20;
  
}

.characters div {
  flex: 1;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
}

.characters img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: transform 0.3s ease;
  
}

.characters div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Black overlay with less opacity */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add transition for smooth appearance */
}

.characters .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add transition for smooth appearance */
}

.characters div:hover::after {
  opacity: 1; /* Show the black overlay on hover */
}

.characters div:hover .text-overlay {
  opacity: 1; /* Show the text on hover */
}

.characters div:hover img {
  transform: scale(1.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 47vh);
  gap: 10px;
}

.grid-item {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #fff; /* White thin border */
}
.grid-item:nth-child(3) {
  grid-column: span 2; /* Make this item span 2 columns */
}
